---
import Layout from "../layouts/Layout.astro";
import WeatherDetail from "../components/WeatherDetail.svelte";
---

<Layout title="Maitan Hub | Clima">
  <!-- Sidebar removed -->

  <section class="space-y-16">
    <header>
      <h1
        class="text-[60px] leading-[0.95] tracking-tighter font-black text-black dark:text-white mb-4 lowercase"
      >
        clima
      </h1>
    </header>

    <WeatherDetail client:load />
  </section>
</Layout>
