---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Luan Maitan | Sobre">
  <section class="space-y-8">
    <header class="space-y-4">
      <h1
        class="text-3xl font-serif font-medium text-neutral-900 dark:text-neutral-100"
      >
        Sobre
      </h1>
      <p
        class="text-neutral-600 dark:text-neutral-400 font-serif max-w-xl leading-relaxed"
      >
        Olá, eu sou o Luan.
      </p>
    </header>

    <hr class="border-neutral-100 dark:border-neutral-800" />

    <div class="prose prose-neutral dark:prose-invert max-w-none font-serif">
      <p>
        Editor na editora hedra, residente em São Paulo, Brasil, edito textos no
        Word, livros em LaTeX, revistas em InDesign, áudios em Reaper e
        Audition, vídeos em Premiere e DaVinci, códigos em VSCode e Cursor,
        imagens em Photoshop e Canva, vetores em Illustrator, wireframes e
        webdesigns em Figma e Framer.
      </p>
    </div>
  </section>
</Layout>
